

/* Default Theme */
body.default-theme {
  --primary: #F8F4E1;
  --sec: #381C0a;
  --tri1: #FEBA17;
  --tri2: #74512D;
  --nav: #74512D;
  --btn: #381C0a;
  --red:red;
  --green:rgb(9,138,89);
  --blue:rgb(0,191,255);
  --black:black;
}
body.morning-theme {
  --primary: #f5d9be;    /* text color, soft cream */
  --sec: #efc069;        /* body background, pastel peach */
  --tri1: #FFB347;       /* accent, light orange */
  --tri2: #e77818;       /* cards & headers */
  --nav: #FFB347;        /* nav background */
  --btn: #FFA64D;  
  --red:red;
        /* button background */
}
body.evening-theme {
  --primary: #FFD6A5;    /* warm text glow */
  --red:red;
  --sec: #2C2E43;        /* deep blue-purple background */
  --tri1: #FF7F50;       /* accent coral/orange */
  --tri2: #3A3F58;       /* card & header background */
  --nav: #3A3F58;        /* nav background */
  --btn: #FF7F50;        /* button background */
}



/* Night Theme */
body.night-theme {
  --primary: #E0E0E0;    /* soft light text */
  --sec: #0D1B2A;        /* dark navy background */
  --tri1: #aeb5c2;       /* dark accent */
  --tri2: #505057;       /* card background */
  --nav: #1B263B;        /* nav background */
  --btn: #1B263B;  
  --red:red;
        /* button background */
}

/* Nav uses variable */
nav {
  background-color: var(--nav);
}
nav button {
  background-color: var(--btn);
  color: var(--primary);
}






@font-face{
    font-family:aeonik ;
    font-weight: 700;
    src: url(./font/fonts/fonnts.com-Aeonik-Bold.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./font/fonts/fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 300;
    src: url(./font/fonts/AeonikTRIAL-Light.otf);
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: aeonik;
    color: var(--primary);
}
html,
body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
} 
body{
}
#main{
    min-height:100vh ;
    width: 100%;
    /* padding-top: 100px; */
    background-color: var(--sec);
}

section.allelem{
    width: 100%;
    height: 100%;
    padding: 40px;
    /* padding-top: 80px; */
 overflow: auto;
    position: absolute;
}
.allelem .allFeatures{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 45px;
}
.allelem nav{
    width: 100%;
    height: 12%;
    background-color:var(--nav);
    margin-bottom: 20px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.allelem nav h1{
    font-size: 50px;
    padding: 2px 30px;
    outline: none;

} 
.allelem nav button{
width: 140px;
height: 50px;
margin: 15px 50px;
background-color: var(--btn);
font-size: 15px;
padding: 10px;
border-radius: 10px;
font-weight: 600;
}
.allelem nav button:active{
    scale:0.97
}
.allelem header{
    height: 350px;
    width: 100%;
background-color: var(--tri2);
margin-bottom: 20px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8MHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position:center ;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;

}
header .header1 h1{
    font-size: 90px;
    margin-bottom: 40px;
}
header .header1 h2{
    font-size: 40px;
    font-weight: 300;
}
header .header1 h4{
    font-size: 60px;
    font-weight: 300;
}
header .header2 h2{
    font-size: 60px;
    font-weight: 700;

}
header .header2 h3{
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
}
header .header12 h4{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    
}
.elem{
    font-size: 30px;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
            box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
.elem:active{
    scale: 0.97;
}
.elem img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 15px;
}
.elem h2{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 20px;
    font-weight: 500;
      color: var(--tri2); 
      background-color: bisque;
      border-radius: 5px;
      padding: 10px;
}
.fullelem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
padding: 15px 21px;
font-weight: 700;
font-size: 22px;
cursor: pointer;
border: none;
border-radius: 10px;
}
.back:active{
    scale:(0.97) ;
}

.todo-list-fullpage h2{
    font-size: 50px;
    color: var(--primary);
}

.todo-list-fullpage .todo-container{
height: 85%;
width: 100%;
margin-top: 40px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.todo-list-fullpage .todo-container .addtask{
    height: 100%;
    width:33% ;
background-color: var(--tri2);
border-radius: 20px;


}
.todo-list-fullpage .todo-container .alltask{
    height: 100%;
    width:65% ;
background-color: var(--tri2);
border-radius: 20px;


}
.todo-list-fullpage .todo-container .addtask form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
    gap: 20px;
}
.todo-container .addtask form input#input-task{
    padding: 10px 20px ;
    width: 100%;
    font-size: 25px;
    background-color: var(--primary);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
}
.todo-container .addtask form textarea{
   padding: 10px 20px ;
    width: 100%;
    font-size: 25px;
      background-color: var(--primary);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;  
}
.todo-container .addtask form button{
    background-color: var(--tri1);
    border: none;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    margin:auto;
    -webkit-transition :all ease 0.3s;
    -o-transition :all ease 0.3s;
    transition :all ease 0.3s;
}
.todo-container .addtask form button:active{
    scale: 0.97;
}
 .todo-list-fullpage .todo-container .alltask {
height: 100%;
width: 65%;
background-color: var(--tri2);
border-radius: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 20px;
padding: 30px;
overflow: auto;
}
.task{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: var(--primary);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 20px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:13px;
}
.task h5 span{
    color: var(--primary);
    background-color: var(--red);
    font-size: 10px;
    border-radius: 50px;
    padding: 2px 4px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
padding: 7px 15px;
background-color: green;
border: none;
border-radius: 2px;
font-size: 15px;
}
.task button:active{
    scale:0.96;
}
.mark-imp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 100%;
    gap: 30px;
}

.mark-imp input {
    scale: 1.7;
}

.mark-imp label {
    font-size: 21px;

}
details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 5px;
    font-size: 14px;
}

summary {
    cursor: pointer;
    color: var(--tri1);
    font-weight: 700;
}

details[open] summary {
    color: var(--sec);
    
}

details p {
    margin-top: 6px;
    color: var(--tri2);
    font-size: 15px;
}

.daily-planner-fullpage h2{
    font-size: 50px;
}
.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: auto;
    

}
.daily-planner-fullpage .day-planner .day-planner-time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
}
.day-planner .day-planner-time input{
    padding: 20px 40px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    font-size: 22px;
    border-radius: 5px;
    padding-top: 30px;
    outline: none;
}
.day-planner .day-planner-time p{
    position: absolute;
    left: 1%;
    top: 10%;
    padding-left: 15px;
    font-size: 18px;
    color: var(--tri1);
}

.moti-fullpage .motivational-container{
    height: 500px;
    width: 60%;
    /* background-color: var(--tri2); */
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 50px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.moti-fullpage .motivational-container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri2);
    border-radius: 40px;
    scale: 1.15;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    z-index: 8;
}
.moti-fullpage .motivational-container .motivation-wrapper{
    z-index: 10;
    border: 8px solid #F8F4E1;

    width: 100%;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--tri1);
}
.moti1{
    background-color: var(--tri2);
    border-radius: 20px;
    padding:15px;
    text-align: center;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.moti1 h2{
    
    color: var(--tri1);
    font-size: 25px;
    font-weight: 500;
}
.moti2 {
    padding: 30px;
 ;
}
.moti2 h1{
    text-align: center;
   
font-size: 23px;
font-weight: 500;
color: var(--sec);
}
.moti3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.moti3 h2{
    padding: 17px;
    font-size: 20px;
    margin: 10px;
    background-color: var(--tri2);
    border-radius: 20px;
    text-align: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--tri1);
}
.motivation-wrapper img{
    position: absolute;
    right: 10%;
    top: 5%;
    opacity: 0.2;
    height: 70px;
}
.pomo-fullpage{
    /* display: block; */
}
.pomo-fullpage h2{
    font-size: 50px;
    text-align: center;
}

.pomo-fullpage .pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 50px;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
    background-color: var(--sec);
    /* border: 10px solid #FEBA17; */
    border-radius: 20px;
 
}
.pomo-fullpage .pomo-timer h1{
font-size: 130px;
}

.pomo-fullpage .pomo-timer button{
color: var(--sec);
text-align: center;
font-size: 20px;
color: var(--primary);
font-weight: 700;
background-color: var(--tri2);
padding: 10px 30px;
margin: 20px 15px;
border-radius: 10px;
-webkit-box-shadow: 5px 5px 1px black;
        box-shadow: 5px 5px 1px black;
-webkit-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
.pomo-timer button:active{
    scale: 0.97;
-webkit-box-shadow: 0px 0px 0px black;
        box-shadow: 0px 0px 0px black;

}
.pomo-fullpage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
            transform: translate(-50%,0);
    background-color: var(--tri1);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
}


.goals-fullpage .goal-container{
  height: 85%;
width: 100%;
margin-top: 40px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.goal-container .addtask{
        height: 100%;
    width:33% ;
background-color: var(--tri2);
border-radius: 20px;
}
.goal-container .addtask form{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
    gap: 20px;

}
.goal-container .addtask form h3{
    font-size: 20px;
}

.goal-container .addtask form input#input-task{
    padding: 10px 20px ;
    width: 100%;
    font-size: 25px;
    background-color: var(--primary);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
}
.goal-container .addtask form textarea{
   padding: 10px 20px ;
    width: 100%;
    font-size: 25px;
      background-color: var(--primary);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;  
}
.goal-container .addtask form button{
    background-color: var(--tri1);
    border: none;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    margin:auto;
    -webkit-transition :all ease 0.3s;
    -o-transition :all ease 0.3s;
    transition :all ease 0.3s;
}
.goal-container .addtask form button:active{
    scale: 0.97;
}

/* second container right side wala */
 .goals-fullpage .goal-container .alltask {
height: 100%;
width: 65%;
background-color: var(--tri2);
border-radius: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
gap: 20px;
padding: 30px;
overflow: auto;
}
.goal-container .alltask .task{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 35px 20px;
    margin-left: 60px;
     min-height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32%;
    background-color: #F8F4E1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 20px;
    border: 5px solid #381c0a;
    border-radius: 10px;
}
.goal-container .alltask .task h5{
    color: var(--sec);
 font-size: 30px;
 font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}


.goal-container .alltask .task h5 span{
    color: var(--primary);
    background-color: var(--red);
    font-size: 10px;
    border-radius: 50px;
    padding: 2px 4px;
}
.goal-container .alltask .task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
padding: 7px 15px;
background-color: green;
border: none;
border-radius: 2px;
margin: 30px 0;
font-size: 15px;
}
.task button:active{
    scale:0.96;
}
.mark-imp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
gap: 20px;
margin-bottom: 10px;
}
.mark-imp input{
scale: 1.7;
}
.mark-imp label{
font-size: 20px
}
.goals-fullpage .goal-container .alltask .task .task-details {
    font-size: 25px;
    color: var(--tri2);
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 5px;
    white-space: pre-wrap; /* preserve line breaks */
}